//
//
// _______________ header
//text-color
$grey: #888888;
// title hover
$grey-dark: #5e5e5e;
//border color
$grey-light: #e5e5e5;
// main pages b-g color
$grey-0-5: #f7f7f8;
//icon color
$grey-1-5: #b8b8b8;
// link hover
$blue-sky: #1dc7ea;
// btn- hover
$blue-sky-light: #42d0ed;
// _______________ Navigation bar
// cover color
$purple: #9368e9c1;
$purple-light: #a185d7;
$purple-sky: #a085d748;
//text
$white: white;
// opocity
$light-cover: rgba(255, 255, 255, 0.13);
//
$blue: #4091e2;
$orange: #ffbc67;
$green: #a1e82c;
$red: #fc727a;
//charts
$orange-dark: #ff9500;
$blue-sky-dark: #1dc7ea;
$red-dark: #fb404b;
//
//
//
//
//
//
$viva-magenta: #bb2649;
$viv-magenta-light: #fb0941;
// text colors
$black: black;
$blue-u: #1a6692;
$blue-900: #5278ecc2;
///
$dark-black: #18191d;
$dark-black-900: #1a1a1d;
$dark-black-800: #1f1f23;
$gray-500: #2d2f33;
$gray-400: #383a3d;
$gray-600: #222428;
$red-error: #f54562;
$red-error-rgba: rgba(245, 69, 98, 0.06);
$dark-black-0-12: rgba(224, 224, 255, 0.12);
$orange-rgba: rgba(255, 171, 0, 0.06);
$dark-black-0-24: rgba(9, 13, 20, 0.24);
$dark-black-0-02: rgba(224, 224, 255, 0.02);
$green-0-06: rgba(0, 255, 170, 0.06);
$blue-rgba: rgba(0, 163, 255, 0.06);
$blue-rgba-0-12: rgba(82, 121, 236, 0.06);
$dark-black-0-6: rgba(224, 224, 255, 0.6);
$dark-black-0-8: rgba(224, 224, 255, 0.8);
$dark-black-0-48: rgba(9, 13, 20, 0.48);
$dark-black-0-06: rgba(224, 224, 255, 0.06);
$dark-black-0-03: rgba(224, 224, 255, 0.03);
$dark-black-0-04: rgba(224, 224, 255, 0.04);
$dark-white-0-24: rgba(45, 47, 51, 0.24);
// Font sizes
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-13: 13px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-30: 30px;
$font-size-40: 40px;
$font-size-46: 46px;
$font-size-48: 48px;
//page withs
$max-width-1200: 1200px;
$max-width-1100: 1100px;
$max-width-991: 991px;
$max-width-767: 767px;
$max-width-576: 576px;
// transitions
$transition: 0.3s;